defaults: &defaults
  database: db_sanitiser_test
  adapter: mysql2
  reconnect: false
  pool: 5
  username: root
  password:
  host: 127.0.0.1
  port: 3306
  encoding: utf8
  collation: utf8_unicode_ci

test:
  <<: *defaults

ci:
  <<: *defaults
  password: example
